.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  /* position: relative; */
}
.products-container {
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
}
.btn-proceed {
    display: flex;
    width: 100%;
    font-size: 20px;
    border-radius: 4px;

    align-items: center;
    justify-content: space-between;
}
.proceed-link{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}