.review-item {
  width: 571px;
  border: 1px solid #95a0a7;
  border-radius: 8px;
  margin-top: 30px;
  font-family: "Lato";
  display: flex;
  padding: 8px 23px 8px 8px;
}
.review-item img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  margin: 8px auto;
  border-radius: 6px;
  margin-left: 8px;
}
.item-details {
  width: 100vw;
  display: flex;
  margin-left: 10px;
  align-items: center;
  justify-content: space-between;
}
.item-details p {
  margin: 0px;
  margin-left: 15px;
}
.product-title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;

  line-height: 25px;
  letter-spacing: 0.0015em;
}
.review-item .orange-text {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #ff9900;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
}
.shipping-charge {
  line-height: 18px;
  color: #ff9900;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
}
.btn-delete {
  height: 55px;
  width: 55px;
  background: rgba(235, 87, 87, 0.3);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
 
}
.delete-icon {
  color: #c67f14;
  width: 27.5px;
  height: 31.43px;


}
